@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root{
    --primcolor: #1C7947;
    --footercolor: #0F0E0E;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background: #FFF;
}

section{
    position: relative;
    min-height: 100vh;
}
a{
    text-decoration: none;
}


.white-heading{
    color: #FFF !important;
}
.white-heading-bar{
    background: #FFF !important;
}
.main-heading{
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    font-size: 2.5rem;
    color: var(--primcolor);
}
.main-heading-bar{
    margin-top: .5rem;
    width: 72px;
    height: 8px;
    background-color: var(--primcolor);
}



.other-hero{
    position: relative;
    top: 0;
    width: 100%;
    min-height: 60vh;
}
.other-hero-bg{
    position: relative;
    top: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.other-hero-container{
    position: absolute;
    top: 0;
    padding: 0 2.5%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.other-hero-content{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 1rem 2rem;
    background: linear-gradient(180deg, #1C7947, #1c794788);
    z-index: 50;
}
nav{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-menu{
    position: relative;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    font-size: .8rem;
    color: #FFF;
}


@media (min-width:768px) {
    #menu{
        display: none;
    }
}

.menu-link, .menu-btn{
    color: #FFF;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.menu-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.color-strip{
    position: relative;
    top: 5px;
    width: 0%;
    height: 3px;
    background: #FFF;
    transition: width .3s ease-in-out;
}
.menu-link:hover .color-strip{
    width: 100%;
}

.menu-btns{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-btn{
    position: relative;
    padding: .5rem 1rem;
    border-radius: 24px;
    transition: all .3s ease;
}
.donate{
    border: 3px solid #FFF;
    background-color: #FFF;
    color: #001424;
}
.donate:hover{
    background-color: transparent;
    color: #FFF;
}



.hero-title{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3rem;
}
.hero-desc{
    max-width: 80%;
    margin-top: 1rem;
    font-size: 1.2rem;
}




/* Footer Styling Starts Here */

footer{
    position: relative;
    margin-top: auto;
    padding: 2rem 1rem 0;
    background: azure;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 600;
}
.footer-row{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-column{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-heading{
    position: relative;
    margin-bottom: .5rem;
    width: 100%;
    padding-right: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--primcolor);
    color: var(--primcolor);
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.down-arrow{
    transform: rotateZ(-90deg);
    transition: all .5s ease;
}
.footer-link{
    position: relative;
    margin-top: 0.75rem;
    width: 100%;
    font-size: .75rem;
    font-weight: 700;
    color: darkslategray;
    transition: all .3s ease;
}
.footer-link:hover{
    color: var(--primcolor);
}

.footer-branding{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    color: var(--primcolor);
}
.footer-logo{
    position: relative;
    width: auto;
    height: 80px;
}
.footer-desc{
    max-width: 80%;
    font-size: .8rem;
    color: darkslategray;
}

.social-heading{
    min-width: 100px;
    color: #FFF;
}
.social{
    position: relative;
    width: 100%;
    color: darkslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social p{
    text-align: center;
    align-self: center;
}






@media (max-width: 768px) {

    .main-heading{
        margin-top: 2rem;
        font-size: 1.8rem;
    }
    .main-heading-bar{
        width: 64px;
        height: 8px;
    }

    
    .other-hero{
        top: 2.5vh;
        min-height: 40vh;
    }
    .other-hero-bg{
        height: 40vh;
    }


    #navbar{
        background-color: var(--primcolor);
        height: 10vh;
        padding: .5rem 1rem 2rem;
        overflow-y: hidden;
        transition: all .5s ease-in-out;
    }
    nav{
        flex-direction: column;
    }
    .nav-logo{
        position: relative;
        max-width: 80%;
        align-self: flex-start;
        height: auto;
        display: grid;
        place-content: center;
        font-size: .8rem;
    }
    .right-menu{
        margin-top: 2.5rem;
    }
    .right-menu, .nav-logo{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    #menu{
        display: unset;
    }
    #menu{
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        width: 40px;
        height: 38px;
        background: var(--primcolor);
        stroke: #FFF;
        z-index: 50;
        transition: all .3s ease;
    }
    .menu-stroke{
        stroke: #FFF;
    }
    #menu:hover .menu-stroke{
        stroke: #000;
    }
    .menu-link{
        margin-bottom: 1rem;
    }
    .menu-link, .menu-btn{
        font-size: .9rem;
    }
    .menu-btns{
        width: 100%;
    }


    .footer-row{
        flex-direction: column;
    }
    .branding-column{
        width: 90% !important;
    }
    .footer-column{
        width: 90%;
        margin-bottom: 2rem;
    }
    .footer-desc{
        max-width: 100%;
    }
}