@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root{
    --primcolor: #1C7947;
    --footercolor: #0F0E0E;
}
*{
    font-family: 'Quicksand', sans-serif;
}


section{
    min-height: unset;
}



.gallery{
    position: relative;
    padding: 4rem 2rem;
    width: 100%;
    min-height: 100vh;
}
.gallery-img{
    border-radius: 16px;
}


@media (max-width: 768px) {


    .hero-title{
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    
    .bricklayer-column-sizer {
        /* divide by 2. */
        width: 50%;
    }
}