@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root{
    --primcolor: #1C7947;
    --footercolor: #0F0E0E;
}
*{
    font-family: 'Quicksand', sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}
.hero-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero-container{
    position: absolute;
    top: 0;
    padding: 0 2.5%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-content{
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-title{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 4rem;
}
.hero-desc{
    max-width: 80%;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#wave{
    position: absolute;
    bottom: -2rem;
    width: 100%;
    height: auto;
}

.service-wrapper{
    position: relative;
    padding: 1rem 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.service-card{
    position: relative;
    margin: 2rem;
    width: 280px;
    height: 360px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25), -2px -2px 10px rgba(0,0,0,0.25);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.service-card--img{
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.service-card--img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}
.service-card--content{
    position: absolute;
    bottom: -75%;
    left: 0;
    padding: 0 1rem;
    padding-top: 5rem;
    width: 100%;
    height: 75%;
    background-color: var(--primcolor);
    color: #FFF;
    z-index: 5;
    clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
    transition: all .5s ease-in-out;
}
.service-card:hover .service-card--content{
    bottom: 0;
}
.service-card--btn{
    position: absolute;
    bottom: 1rem;
    left: 30%;
    padding: .5rem .75rem;
    text-transform: uppercase;
    color: #FFC300;
    border: 2px solid #FFC300;
    font-weight: 600;
    transition: all .3s ease;
}
.service-card--btn:hover{
    background-color: #FFC300;
    color: #000;
}



@media (max-width: 768px) {
    .hero-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-title{
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    
    .hero-desc{
        max-width: 90%;
        margin-top: 2rem;
        font-size: .95rem;
        text-align: center;
    }

    #wave{
        bottom: 0;
    }

}